div{
    width: 30%;
    border: solid 1pt aqua;
    position: absolute;
    left: 20cm;
    top: 4cm;
    padding: 2%;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    text-align: center;
    background-color: aqua;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-color: black;
}
header{
    text-align: center;
    width: 100%;
    font-family: Georgia, Times, sans-serif;
    font-variant: small-caps;
    letter-spacing: 0.1cm;
    background-color: aqua;
}
img{
    border: solid 1pt aqua;
    border-radius: 50%;
    filter: blur(2px);
    filter: sepia(80%);
    filter: brightness(150%);
}